mat-card{
    padding: 2px 2px;
    margin-bottom: 10px;
    width: 96.5%;
}

p{
    background: #455A64;
    color: white;  
    padding: 5px 0px 5px 10px;
}

.status{
    width: 110%;
    margin-left: 8px;
}

.full{
    width: 98%;
    margin-left: 10px;
    margin-right: 0;
}


.btnContainer{
    padding-bottom: 10px;
}

.mat-mini-fab {
    color: #90A4AE;
    margin-left: 20px;
}

.mat-mini-fab:hover{
    background: #0097A7;
    color: white;
    transition: linear 0.2s;
    transform: scale(1.1) translateY(-3px);
    box-shadow: 0 10px 10px rgba(0,0,0, .5);
    outline: none;
}

.mat-mini-fab:focus{
    outline: none;
}

@media (max-width: 767px) {

    .full{
        width: 90%;
    }

}

@media (max-width: 569px) and  (orientation: landscape) {

    mat-card{
        width: 93%;
        margin-left: 20px;
    }

    .btnContainer{
        display: flex;
        justify-content:  flex-end;
    }

    button{
        margin-right: 20px;
        transform: scale(0.8);
    }

    button:hover {
        transform: scale(0.9) translateY(-3px);
        box-shadow: 0 10px 10px rgba(0,0,0, .5);
    }

}

@media (min-width: 570px) and (max-width: 767px) and (orientation: landscape) {

    mat-card{
        width: 93%;
        margin-left: 20px;
    }

    mat-select {
        font-size: 12px;
    }

    input {
        font-size: 12px;

    }

    button{
        transform: scale(0.8);
    }

    button:hover {
        transform: scale(0.9) translateY(-3px);
        box-shadow: 0 10px 10px rgba(0,0,0, .5);
    }

}

