<div class="row">
  <div class="col-12" *ngIf="authService.user.displayName === 'Admin'; then admin; else thisUser">

  </div>
</div>

<ng-template #admin>
  <mat-card *ngIf="task">
    <div class="row">
      <div class="col-12">
        <p>Edit task</p>
      </div>
      <div class="col-12 col-sm-2 col-md-1 col-lg-1 col-xl-1">
        <mat-form-field class="status">
          <mat-select [(ngModel)]="task.status">
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-2 col-md-3 col-lg-3 col-xl-3">
        <mat-form-field class="full">
          <input [(ngModel)]="task.text" matInput>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-1">
        <mat-form-field class="chooseUser">
          <mat-select [(ngModel)]="task.userName">
            <mat-option *ngFor="let user of usersList" [(value)]="user.userName" (click)="userIdForChange(user.userId)">
              {{user.userName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-2 col-md-2 col-lg-2 offset-xl-1 col-xl-2">
        <mat-form-field class="dataPicker">
          <input matInput [matDatepicker]="picker"[(ngModel)]="task.create">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="offset-6 col-6 offset-sm-1 col-sm-3 offset-md-1 col-md-3 ofsett-lg-1 col-lg-3 offset-xl-2 col-xl-2 btnContainer">
        <button mat-mini-fab [routerLink]="['/todo']" matTooltip="Go back to Task List" color="primary">
          <i class="material-icons">arrow_back</i>
        </button>
        <button (click)="changeTask()" mat-mini-fab matTooltip="Save Task's change" color="primary">
          <i class="material-icons">save</i>
        </button>
      </div>
    </div>
  </mat-card>
</ng-template>

<ng-template #thisUser>
  <mat-card *ngIf="task">
    <div class="row">
      <div class="col-12">
        <p>Edit task</p>
      </div>
      <div class="col-12 col-sm-2 col-md-1 col-lg-1 col-xl-1">
        <mat-form-field class="status full">
          <mat-select [(ngModel)]="task.status">
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-2 col-md-3 col-lg-3 col-xl-3">
        <mat-form-field class="full">
          <input [(ngModel)]="task.text" matInput>
        </mat-form-field>
      </div>
      <div class="offset-6 col-6 offset-sm-5 col-sm-3 offset-md-5 col-md-3 ofsett-lg-5 col-lg-3 offset-xl-6 col-xl-2 btnContainer">
        <button mat-mini-fab [routerLink]="['/todo']" matTooltip="Go back to Task List" color="primary">
          <i class="material-icons">arrow_back</i>
        </button>
        <button (click)="changeTask()" mat-mini-fab matTooltip="Save Task's change" color="primary">
          <i class="material-icons">save</i>
        </button>
      </div>
    </div>
  </mat-card>
</ng-template>