mat-card{
    padding: 2px 2px;
    cursor: move;
    margin-bottom: 10px;
    width: 98%;
}

.status{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.taskText{
    min-height: 1px;
    font-size: 18px;
    display: flex;
    justify-content: right;
    align-items: center;
}



.btnContainer{
    padding: 10px;
    display: flex;
    justify-content:  center;
    align-items: center;
}

.mat-mini-fab {
    color: #90A4AE;
    background: #455A64;
    margin-left: 20px;
}

.mat-mini-fab:hover{
    background: #0097A7;
    color: white;
    transition: linear 0.2s;
    transform: scale(1.1) translateY(-3px);
    box-shadow: 0 10px 10px rgba(0,0,0, .5);
    outline: none;
}

.mat-mini-fab:focus{
    outline: none;
}

@media (max-width: 767px){

    .status{
        justify-content: right;
        height: 40px;
    }

    p{
        padding: 5px 0 5px 10px;
    }

}

@media (max-width: 569px) and  (orientation: landscape) {

    mat-card{
        width: 93%;
        margin-left: 20px;
    }

    .status{
        height: 30px;
    }

    p{
        font-size: 12px;
    }

    .btnContainer{
        justify-content:  flex-end;
    }

    button{
        margin-right: 20px;
        transform: scale(0.8);
    }

    button:hover {
        transform: scale(0.9) translateY(-3px);
        box-shadow: 0 10px 10px rgba(0,0,0, .5);
    }

}

@media (min-width: 570px) and (max-width: 767px) and (orientation: landscape) {

    mat-card{
        width: 93%;
        margin-left: 20px;
    }

    .status{
        justify-content: right;
        height: 60px;
        width: 75%;
    }

    p{
        font-size: 14px;
    }

    .taskData{
        padding-left: 0;
    }

    button{
        transform: scale(0.8);
    }

    button:hover {
        transform: scale(0.9) translateY(-3px);
        box-shadow: 0 10px 10px rgba(0,0,0, .5);
    }

}

