<div class="container">
  <div class="row">
    <div *ngIf="authService.user.displayName === 'Admin'; then chooseUser; else thisUser">

    </div>
  </div>
</div>

<ng-template #chooseUser>
  <div class="offset-9 col-3 name">
    <p>Hello, </p>
    <p>{{authService.user.displayName}}</p>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [matMenuTriggerFor]="userTasksList">Choose User's Task List</button>
      <button mat-menu-item (click)="logout()" id="logoutBtn">Logout</button>  
    </mat-menu>
    
    <mat-menu #userTasksList="matMenu">
      <button *ngFor="let user of usersList" mat-menu-item [value]="user.userName" (click)="getNewUser(user.userName, user.userId)">
        {{user.userName}}</button>
    </mat-menu>
  </div>
</ng-template>

<ng-template #thisUser>
  <div class="offset-9 col-3 name">
    <p>Hello,</p>
    <p>{{authService.user.displayName}}</p>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="logout()" id="logoutBtn">Logout</button>  
    </mat-menu>
    
    <mat-menu #userTasksList="matMenu">
      <button *ngFor="let user of usersList" mat-menu-item [value]="user.userName" (click)="getNewUser(user.userName, user.userId)">
        {{user.userName}}</button>
    </mat-menu>
  </div>
</ng-template>