<div class="row">
  <div class="col-12 taskTable">
    <div class="row">
      <div class="table">
        <div class="row">
          <div class="col-sm-2 col-md-1 column">
            <p>Status</p>
          </div>
          <div class="col-sm-3 col-md-4 column">
            <p>Task</p>
          </div>
          <div class="col-sm-2 col-md-2 column">
            <p>User</p>
          </div>
          <div class="col-sm-2 col-md-2 column">
            <p>Date</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>