<div class="row">
  <div class="col-12 taskTable">
    <div class="row">
      <div class="table">
        <div class="row">
          <div class="col-sm-2 col-md-1 col-lg-1 col-xl-1 column">
            <p>Status</p>
          </div>
          <div class="col-sm-2 col-md-3 col-lg-3 col-xl-3 column">
            <p>Task</p>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 column">
            <p>User</p>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 column">
            <p>Date</p>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 column">
            <p>Time</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>