.container{
    position: fixed;
    z-index: 3;
    background: white;
    padding-top: 200px;
}

.table{
    box-shadow: 0px 1px 2px 0px rgba(0,0,0, .5);
    max-width: 80vw;
}

.column{
    min-height: 1px;
    font-size: 18px;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
}

p{
    margin: 0;
}