.container{
    padding-top: 10px;
    padding-bottom: 0px;
    min-height: 100vh;
    position: relative;
}

.layer{
    background: rgba(255,255,255, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-top: 75px;
    box-shadow: 5px 5px 75px 5px rgba(0,0,0, 0.3);
    position: absolute;
    top: 50%;
    transform: translateY( -50%);
}

mat-icon{
    cursor: pointer;
}

@media (max-width: 331px){

    .layer{
        top: 5%;
        transform: translateY(-10%);
    }

}

@media (min-width: 332px) and (max-width: 767px) {

    .layer{
        top: 25%;
        transform: translateY(-25%);
    }

}

@media (max-width: 569px) and (orientation: landscape) {

    .container{
        min-height: 200vh;
    }

    .layer{
        width: 80%;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -0%);
    }
}

@media (min-width: 570px) and (max-width: 991px) and (orientation: landscape) {

    .container{
        min-height: 165vh;
    }

    .layer{
        top: 0%;
        transform: translateY(-0%);
    }

}


