<div class="container">
  <div class="row">
    <div class="col-12 userProfil">
      <h3>User profil</h3>
      <div class="row">
        <div class="col-12">
          <h4>User name:</h4>
          <p>{{authService.user.displayName}}</p>
        </div>
        <div class="col-12">
          <h4>User email:</h4>
          <p>{{authService.user.email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ctnForLandscape">
    <div class="row">
      <div class="col-12 userProfil">
        <h3>User profil</h3>
        <div class="row">
          <div class="col-12">
            <h4>User name:</h4>
            <p>{{authService.user.displayName}}</p>
          </div>
          <div class="col-12">
            <h4>User email:</h4>
            <p>{{authService.user.email}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>