.container{
    background: white;;
    height: 100vh;
    position: relative;
}

.userProfil{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h3{
    padding-bottom: 20px;
}

h4, p{
    display: inline-block;
    padding-right: 20px;
}

p{
    font-size: 24px;
}



@media (max-width: 767px) {

    h3{
        font-size: 22px;
    }

    h4 {
        padding-right: 20px;
        font-size: 18px;
    }
    
    p{
        font-size: 14px;
        padding: 0;
    }

}
